.header {
  background: #000;
  color: #fff;
}

body {
  background-color: #333;
  color: #fff;
}

input, select, button {
  background-color: #333;
  color: #fff;
}

.footer button {
  border-color: #fff;
  background-color: #333;
  color: #fff;
}

.footer button:hover {
  background-color: #fff;
  color: #333;
}

.remix button {
  border-color: #fff;
  color: #fff;
}

.remix button:hover {
  background-color: #fff;
}

#notSupported {
  background-color: red;
  color: white;
}

#firmware + label {
  border-color: #fff;
  color: #fff;
}

#firmware:focus + label,
#firmware + label:hover {
  background-color: #fff;
  color: #333;
}

#firmware:disabled + label {
  color: #ccc;
  border-color: #ccc;
}

#firmware:disabled + label:hover {
  background-color: #fff;
}

input {
  background-color: #fff;
  color: #333;
}
