.header {
  background: #000;
  color: #fff;
}

body {
  background-color: #fff;
  color: #000;
}

input, select, button {
  background-color: #fff;
  color: #000;
}

#notSupported {
  background-color: red;
  color: white;
}

.footer button {
  border-color: #63338f;
  background-color: #fff;
  color: #63338f;
}

.footer button:hover {
  background-color: #63338f;
  color: #fff;
}

.remix button {
  border-color: #333;
  color: #333;
}

.remix button:hover {
  background-color: #333;
}

.timestamp {
  color: #8ec641;
}

.debug-function {
  color: #8ec641;
}

#log {
  background-color: #000;
  color: #cecece;
}

